In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.float_format', lambda x: '%.2f' % x)

#### нужно получить распредение населения по возрастным группам
#### 0-17, 18-60, 61 и старше в разрезе мужчин и женщин. Необходимо прогнозное
#### количество женщин детородного возраста, чтобы по регулируемому показателю 
#### фертильности, получить прогноз всего населения Украины.
#### Далее, зная фертильность и количество детей, можно спрогнозировать расходы
#### которые должно взять на себя государство, чтобы увеличилась рождаемость.

#### try to recover AI's demographic  model

In [2]:
pop=pd.read_excel('data/pop_per_year.xlsx')#с 2012 по 2018 по годам жизни мужчины и женщины

In [3]:
pop2013=pop[pop['рік']==2013]#исходный факт
pop2013.head(2)

     рік  вік  Обидві статі   жінки   чоловіки
81  2013    0        517301  250481     266820
82  2013    1        498371  241404     256967

In [8]:
pop2017=pop[pop['рік']==2017]#исходный факт
pop2017.head(2)

      рік  вік  Обидві статі   жінки   чоловіки
405  2017    0        394626  190833     203793
406  2017    1        408645  197600     211045

In [4]:
#коэффициенты відтворення та міграції по мужчинам и женщинам
#выделены из файлы модели, нужно сделать отдельными сериями,чтобы не привязываться к файлам
koef_vidtvorennya_nas_f=pd.read_excel('D:/Users/o.lukasevych/Documents/Python_Scripts/Ukr_budget/excel/Copy of Демографическая модель изменения населения Украины.xlsx',\
                                     sheet_name='Sheet1')['відтворення населення жінки']
koef_vidtvorennya_nas_m=pd.read_excel('D:/Users/o.lukasevych/Documents/Python_Scripts/Ukr_budget/excel/Copy of Демографическая модель изменения населения Украины.xlsx',\
                                     sheet_name='Sheet1')['відтворення населення чоловіка']
koef_mizhnar_saldo_f=pd.read_excel('D:/Users/o.lukasevych/Documents/Python_Scripts/Ukr_budget/excel/Copy of Демографическая модель изменения населения Украины.xlsx',\
                                     sheet_name='Sheet1')['міжнародне сально жінки']
koef_mizhnar_saldo_m=pd.read_excel('D:/Users/o.lukasevych/Documents/Python_Scripts/Ukr_budget/excel/Copy of Демографическая модель изменения населения Украины.xlsx',\
                                     sheet_name='Sheet1')['міжнародне сальдо чоловіка']

In [5]:
koef_zhyvonar=99.3835113134263 #коэффициент живорожденных от рожденных
koef_mertvonar=0.616488686573717 #коэффициент мертворожденных от родженных
koef_pomer=1.45894635287282 #коэффициент умерших от всего населения

koef_usogo_nar_f=48.3748938322502 #коэффициент всего рожденных женщин
koef_zhivonar_f=48.3876667210801 #коэффициент живорожденных женщин
koef_mertvonar_f=46.3157894736842 #коэффициент мертворожденных женщин
koef_pomer_f=50.9026011137936 #коэффициент умерших женщин

  #коэффициенты по мужчинам
koef_usogo_nar_m=51.6251061677498
koef_zhivonar_m=51.6123332789199
koef_mertvonar_m=53.6842105263158
koef_pomer_m=49.0973988862064

    #коэффициенты миграции
koef_migrant_f=30.6820386779639
koef_migrant_m=69.3179613220361

# на входе функции серия женщин по годам жизни,серия мужчины по годам жизни, всего населения
# кол-во детей на 1000 женщин,коеффициент миграции
def model(f_years,m_years,popTotal,koef_fert,koef_migrant):
    fertilnyh=f_years[18:50].sum()
    narodzhennyh=fertilnyh*koef_fert/1000
    zhivonarodzhennyh=narodzhennyh*koef_zhyvonar/100
    mertvonarodzhennyh=narodzhennyh*koef_mertvonar/100
    pomer=popTotal*koef_pomer/100
    
    all_data=pd.Series({'fertilnyh':fertilnyh,'narodzhennyh':narodzhennyh,\
    'zhivonarodzhennyh':zhivonarodzhennyh,\
    'mertvonarodzhennyh':mertvonarodzhennyh,\
    'pomer':pomer})
    
    #количества по женщинам за текущий год
    usogo_nar_f=narodzhennyh*koef_usogo_nar_f/100 #всего рожденных женщин
    zhivonar_f=koef_zhivonar_f/100*zhivonarodzhennyh #количество живорожденных женщин
    mertvonar_f=koef_mertvonar_f/100*mertvonarodzhennyh #количество мертворожденных женщин
    pomer_f=koef_pomer_f/100*pomer #количество умерших женщин
    
    data_f=pd.Series({'usogo_nar_f':usogo_nar_f,'zhivonar_f':zhivonar_f,\
                      'mertvonar_f':mertvonar_f,'pomer_f':pomer_f})
    
    #количества по мужчинам за текущий год
    zhivonar_m=koef_zhivonar_m/100*zhivonarodzhennyh
    usogo_nar_m=narodzhennyh*koef_usogo_nar_m/100
    mertvonar_m=koef_mertvonar_m/100*mertvonarodzhennyh
    pomer_m=koef_pomer_m/100*pomer
    
    data_m=pd.Series({'usogo_nar_m':usogo_nar_m,'zhivonar_m':zhivonar_m,\
                     'mertvonar_m':mertvonar_m,'pomer_m':pomer_m})
    
    #серии відтворення населення
    vidtvorennya_nas_f=pd.Series(pomer_f*koef_vidtvorennya_nas_f/100*(-1))
    vidtvorennya_nas_m=pd.Series(pomer_m*koef_vidtvorennya_nas_m/100*(-1))
    
    # серии мигрантов
    migrant=popTotal*koef_migrant/100
    migrant_f=migrant*koef_migrant_f/100
    migrant_f_years=pd.Series(koef_mizhnar_saldo_f*migrant_f/100)
    migrant_m=migrant*koef_migrant_m/100
    migrant_m_years=pd.Series(koef_mizhnar_saldo_m*migrant_m/100)
    
    # серии женщин следующего года по годам жизни
    rest1=f_years[:-1]
    rest2=vidtvorennya_nas_f.drop(0).reset_index(drop=True)
    rest3=migrant_f_years.drop(0).reset_index(drop=True)
    rest1=rest1.astype('float64')
    rest4=rest1+rest2+rest3
    rest4=rest4[:-1]
    rest_first=zhivonar_f+vidtvorennya_nas_f[0]+migrant_f_years[0]
    rest_last=pd.Series(f_years.iloc[-1]+f_years.iloc[-2]+\
                vidtvorennya_nas_f.iloc[-1]+\
                migrant_f_years.iloc[-1])
    rest=rest4.append(rest_last).reset_index(drop=True)
    rest.index=rest.index+1
    rest_f=pd.concat([rest, pd.Series(rest_first)])
    female_next=rest_f.sort_index()
    
    rest_series=pd.Series({'rest':rest,'rest1':rest1,\
                           'rest2':rest2,'rest3':rest3,\
                           'rest4':rest4,\
                           'rest_first':rest_first,'rest_last':rest_last})
    
    # серии мужчин следующего года по годам жизни
    mrest1=m_years[:-1]
    mrest2=vidtvorennya_nas_m.drop(0).reset_index(drop=True)
    mrest3=migrant_m_years.drop(0).reset_index(drop=True)
    mrest1=mrest1.astype('float64')
    mrest4=mrest1+mrest2+mrest3
    mrest4=mrest4[:-1]
    mrest_first=zhivonar_m+vidtvorennya_nas_m[0]+migrant_m_years[0]
    mrest_last=pd.Series(m_years.iloc[-1]+m_years.iloc[-2]+\
                vidtvorennya_nas_m.iloc[-1]+\
                migrant_m_years.iloc[-1])
    mrest=mrest4.append(mrest_last).reset_index(drop=True)
    mrest.index=mrest.index+1
    rest_m=pd.concat([mrest, pd.Series(mrest_first)])
    male_next=rest_m.sort_index()
    pop_next=female_next+male_next
    pop_next_total=pop_next.sum()
    
     
    
    return female_next,male_next,pop_next_total,vidtvorennya_nas_f

In [6]:
def prognos(year,f_years,m_years,kfert):
    z=[]
    ye=[]
    pop_total=f_years.sum()+m_years.sum()
    for i in range(len(kfert)):
        fy=model(f_years,m_years,pop_total,kfert[i],0.136060581939936)[0]
        my=model(f_years,m_years,pop_total,kfert[i],0.136060581939936)[1]
        pt=model(f_years,m_years,pop_total,kfert[i],0.136060581939936)[2]
        z.append(model(f_years,m_years,pop_total,kfert[i],0.136060581939936)[2])
        f_years=fy
        m_years=my
        pop_total=pt
        ye.append(year+1+i)
        
    return pd.DataFrame(z,ye)

In [9]:
f=pop2017[' жінки'].reset_index(drop=True)
m=pop2017[' чоловіки'].reset_index(drop=True)

kfert_good=np.insert(np.repeat(95,40),[0],[46,60,65,70,75,80,85,90])
kfert_bad=np.repeat(46,37)

prognos(2017,f,m,np.repeat(46,100)).iloc[-1,:]

0   24692581.21
Name: 2117, dtype: float64

In [42]:
#исторические данные
#http://database.ukrcensus.gov.ua/MULT/Dialog/statfile_c_files/pasport.files/pasport/00_uk.htm#0301
#http://database.ukrcensus.gov.ua/PXWEB2007/ukr/publ_new1/2018/zb_dy_2017.pdf

pomerlyh=pd.Series([754460,706739,698235,664588,663139,662368,632296,594796,583631,574123],\
                   index=list(np.arange(2008,2018)),name='Померлих')
pomer_na_1000_nas=pd.Series([16.3,15.3,15.2,14.5,14.5,14.6,14.7,14.9,14.7,14.5],\
                            index=list(np.arange(2008,2018)),name='Померлих на 1000 населення')
zhivonar=pd.Series([510589,512525,497689,502595,520705,503657,465882,411781,397037,363987],\
                   index=list(np.arange(2008,2018)),name='Живонароджених')
zhivonar_na_1000_nas=pd.Series([11.0,11.1,10.8,11.0,11.4,11.1,10.8,10.7,10.3,9.4],\
                               index=list(np.arange(2008,2018)),name='Живонароджених на 1000 населення')
naselennya_vse=pd.Series([46372664,46143714,45962947,45778534,45633637,45553047,45426249,42929298,42760516,42584542,42386403],\
                         index=list(np.arange(2008,2019)),name='Населення')
miske_nas=pd.Series([31668757,31587203,31524795,31441649,31380874,31378639,31336623,29673113,29584952,29482313,29370995],\
                    index=list(np.arange(2008,2019)),name='Міське населення')
silske_nas=pd.Series([14703907,14556511,14438152,14336885,14252763,14174408,14089626,13256185,13175564,13102229,13015408],\
                     index=list(np.arange(2008,2019)),name='Сільське населення')
zhivonar_m=pd.Series([263588,264844,256835,259433,268748,259738,240043,212846,205194,187528],\
                    index=list(np.arange(2008,2018)),name='Живонароджених чоловіків')
zhivonar_f=pd.Series([247001,247681,240854,243162,251957,243919,225839,198935,191843,176459],\
                    index=list(np.arange(2008,2018)),name='Живонароджених жінок')
mertvonar_all=pd.Series([3416,3351,3300,3158,3230,3166,2820,2437,2244,2136],\
                       index=list(np.arange(2008,2018)),name='Мертвонароджених')
mertvonar_m=pd.Series([1801,1821,1719,1649,1734,1683,1502,1322,1159,1090],\
                     index=list(np.arange(2008,2018)),name='Мертвонароджених чоловіків')

mertvonar_f=pd.Series([1615,1530,1581,1509,1496,1483,1318,1115,1085,1046],\
                     index=list(np.arange(2008,2018)),name='Мертвонароджених жінок')

In [46]:
datadf=pd.concat([pomerlyh,pomer_na_1000_nas,zhivonar,mertvonar_all,zhivonar_f,zhivonar_m,\
                 naselennya_vse],axis=1).T
datadf

,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Померлих,754460.00,706739.00,698235.00,664588.00,663139.00,662368.00,632296.00,594796.00,583631.00,574123.00,nan
Померлих на 1000 населення,16.30,15.30,15.20,14.50,14.50,14.60,14.70,14.90,14.70,14.50,nan
Живонароджених,510589.00,512525.00,497689.00,502595.00,520705.00,503657.00,465882.00,411781.00,397037.00,363987.00,nan
Мертвонароджених,3416.00,3351.00,3300.00,3158.00,3230.00,3166.00,2820.00,2437.00,2244.00,2136.00,nan
Живонароджених жінок,247001.00,247681.00,240854.00,243162.00,251957.00,243919.00,225839.00,198935.00,191843.00,176459.00,nan
Живонароджених чоловіків,263588.00,264844.00,256835.00,259433.00,268748.00,259738.00,240043.00,212846.00,205194.00,187528.00,nan
Населення,46372664.00,46143714.00,45962947.00,45778534.00,45633637.00,45553047.00,45426249.00,42929298.00,42760516.00,42584542.00,42386403.00

In [45]:
pop

      рік  вік  Обидві статі    жінки   чоловіки
0    2012    0        498975   241656     257319
1    2012    1        493356   239066     254290
2    2012    2        507656   245582     262074
3    2012    3        505325   244779     260546
4    2012    4        467005   227066     239939
5    2012    5        455095   221946     233149
6    2012    6        420822   204201     216621
7    2012    7        422104   205168     216936
8    2012    8        403225   196289     206936
9    2012    9        384845   186452     198393
10   2012   10        369864   179530     190334
11   2012   11        380938   185080     195858
12   2012   12        385536   187741     197795
13   2012   13        409571   200455     209116
14   2012   14        427214   208388     218826
15   2012   15        461601   225189     236412
16   2012   16        479618   234009     245609
17   2012   17        498888   243185     255703
18   2012   18        528571   258075     270496
19   2012   19        569467   277969     291498
20   2012   20        610911   297944     312967
21   2012   21        642654   313646     329008
22   2012   22        673409   329231     344178
23   2012   23        717141   350939     366202
24   2012   24        741708   363051     378657
25   2012   25        786701   385941     400760
26   2012   26        763694   375600     388094
27   2012   27        780792   383957     396835
28   2012   28        793319   389940     403379
29   2012   29        723255   354493     368762
..    ...  ...           ...      ...        ...
537  2018   51        555788   296697     259091
538  2018   52        548667   295429     253238
539  2018   53        571144   309729     261415
540  2018   54        607217   332060     275157
541  2018   55        618382   340567     277815
542  2018   56        639060   352807     286253
543  2018   57        658082   365746     292336
544  2018   58        623390   350588     272802
545  2018   59        613864   347866     265998
546  2018   60        582590   333426     249164
547  2018   61        574648   332184     242464
548  2018   62        530112   309794     220318
549  2018   63        539149   318175     220974
550  2018   64        485976   290001     195975
551  2018   65        501423   302232     199191
552  2018   66        493016   298194     194822
553  2018   67        481354   293508     187846
554  2018   68        488077   302423     185654
555  2018   69        400651   249945     150706
556  2018   70        347745   220123     127622
557  2018   71        330123   212546     117577
558  2018   72        213082   139598      73484
559  2018   73        237472   158533      78939
560  2018   74        208152   140106      68046
561  2018   75        259397   176816      82581
562  2018   76        335004   227786     107218
563  2018   77        328293   225131     103162
564  2018   78        334278   234596      99682
565  2018   79        331301   234156      97145
566  2018   80       1677902  1214299     463603

[567 rows x 5 columns]