In [1]:
import pandas as pd
import numpy as np

#### нужно получить распредение населения по возрастным группам
#### 0-17, 18-60, 61 и старше в разрезе мужчин и женщин. Необходимо прогнозное
#### количество женщин детородного возраста, чтобы по регулируемому показателю 
#### фертильности, получить прогноз всего населения Украины.
#### Далее, зная фертильность и количество детей, можно спрогнозировать расходы
#### которые должно взять на себя государство, чтобы увеличилась рождаемость.

In [2]:
df=pd.read_csv('data/pop_est/Population-EstimatesData.csv')
# world bank data собраны самые разные показатели

In [3]:
df=df[df['Country Name']=='Ukraine']

In [4]:
df1=pd.read_csv('https://population.un.org/wpp/Download/Files/1_Indicators%20(Standard)/CSV_FILES/WPP2019_PopulationBySingleAgeSex.csv',\
               encoding = "ISO-8859-1")

In [5]:
df2=df1[df1.Location=='Ukraine'].loc[:,('Time','AgeGrp','PopMale','PopFemale','PopTotal')]

In [6]:
df2=df2.set_index(['Time','AgeGrp'])

In [7]:
df2=df2.loc[2012:2050]

In [8]:
df2=df2.reset_index()

In [9]:
df2=df2.pivot(index ='AgeGrp', columns ='Time', values =['PopMale','PopFemale','PopTotal'])
df2.head()

        PopMale                                                        \
Time       2012     2013     2014     2015     2016     2017     2018
AgeGrp
0       270.947  258.982  245.482  232.817  221.681  211.341  202.373
1       263.634  261.062  256.230  249.873  235.963  233.032  223.192
2       272.864  260.114  261.961  260.715  250.698  238.978  239.107
3       258.370  269.943  263.378  266.130  260.084  251.381  241.911
4       244.789  258.227  266.965  266.907  264.767  259.305  251.979

                                    ...    PopTotal                    \
Time       2019     2020     2021   ...        2041     2042     2043
AgeGrp                              ...
0       195.261  190.252  187.936   ...     338.436  337.627  336.453
1       213.927  206.072  192.432   ...     338.950  338.637  337.988
2       229.027  219.664  206.625   ...     338.819  338.954  338.834
3       240.814  231.100  219.200   ...     338.346  338.783  338.956
4       244.840  240.452  230.129   ...     337.643  338.286  338.745


Time       2044     2045     2046     2047     2048     2049     2050
AgeGrp
0       334.845  332.756  330.152  327.108  323.674  319.914  315.891
1       336.907  335.352  332.898  330.756  327.799  324.453  320.763
2       338.228  337.172  335.333  333.057  331.130  328.229  324.922
3       338.915  338.314  337.053  335.332  333.234  331.303  328.417
4       338.961  338.879  338.145  336.951  335.347  333.422  331.297

[5 rows x 117 columns]

In [10]:
#In [2]: bins = pd.cut(df['Value'], [0, 100, 250, 1500])

#In [3]: df.groupby(bins)['Value'].agg(['count', 'sum'])

bins = pd.cut(np.arange(101), [0, 18, 60,100],right=False)
bins

[[0, 18), [0, 18), [0, 18), [0, 18), [0, 18), ..., [60, 100), [60, 100), [60, 100), [60, 100), NaN]
Length: 101
Categories (3, interval[int64]): [[0, 18) < [18, 60) < [60, 100)]

In [11]:
PopTotal=df2.reset_index()['PopTotal'].groupby(bins).agg('sum')
PopTotal

Time,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
"[0, 18)",8012.695,8014.474,8039.604,8088.774,8099.479,8123.736,8152.382,8177.807,8199.597,8182.842,...,6116.829,6094.826,6078.382,6066.215,6056.908,6047.015,6037.455,6026.544,6013.142,5996.074
"[18, 60)",27714.482,27453.961,27171.421,26871.393,26545.754,26210.724,25872.575,25533.985,25194.023,24836.872,...,20441.078,20087.809,19730.152,19369.081,19006.066,18620.956,18241.258,17878.492,17547.815,17257.967
"[60, 100)",9724.552,9816.382,9898.289,9959.250,10066.301,10151.181,10219.239,10279.949,10338.223,10445.071,...,11156.857,11252.499,11347.941,11443.117,11537.648,11654.997,11766.694,11862.751,11929.036,11957.878

In [12]:
binsF = pd.cut(np.arange(101), [0, 18, 50,60,100],right=False)
PopFemale=df2.reset_index()['PopFemale'].groupby(binsF).agg('sum')
PopFemale

Time,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
"[0, 18)",3896.560,3894.857,3904.410,3926.206,3929.428,3940.170,3953.915,3966.494,3977.491,3970.460,...,2970.327,2959.738,2951.664,2945.507,2940.562,2935.910,2931.314,2925.972,2919.308,2910.682
"[18, 50)",10662.049,10522.207,10380.995,10242.756,10115.861,9994.512,9876.352,9754.991,9624.826,9491.016,...,6904.072,6796.216,6703.678,6622.794,6550.826,6487.352,6434.050,6389.765,6352.727,6320.891
"[50, 60)",3658.046,3633.722,3597.186,3550.490,3493.772,3428.237,3358.354,3290.137,3227.700,3166.777,...,3326.126,3253.623,3162.772,3056.924,2939.116,2806.697,2665.016,2521.266,2385.340,2264.019
"[60, 100)",6247.944,6310.568,6369.740,6418.285,6477.521,6525.149,6564.443,6601.351,6638.928,6692.978,...,6949.199,6981.746,7014.910,7049.437,7085.615,7127.386,7167.992,7202.250,7222.738,7225.411

#### try to recover demographic model by AI

In [ ]:
pop=pd.read_excel('data/pop_per_year.xlsx')

In [32]:
pop2013=pop[pop['рік']==2013]
pop2013.head(2)

     рік  вік  Обидві статі   чоловіки   жінки
81  2013    0        517301     266820  250481
82  2013    1        498371     256967  241404

In [68]:
pop_total2013=pop2013['Обидві статі'].sum()
pop_total2013

45372692

In [41]:
fert_years=np.arange(18,50)

In [70]:
koef2013=46
fert2013=pop2013.loc[pop2013['вік'].isin(fert_years)][' жінки'].sum()

In [71]:
fert2013

10606010

In [72]:
narodzh2013=fert*koef2013/1000
narodzh2013

487876.46

In [73]:
koef_zhyvinar=99.3835113134263
zhivonar2013=narodzh2013*koef_zhyvinar/100
zhivonar2013

484868.7568196438

In [74]:
koef_mertvonar=0.616488686573717
mertvonar2013=narodzh2013*koef_mertvonar/100
mertvonar2013

3007.703180356346

In [75]:
koef_pomer=1.45894635287282
pomer2013=pop_total2013*koef_pomer/100
pomer2013

661963.2351342178

      рік  вік  Обидві статі   чоловіки   жінки
162  2014    0        500484     257889  242595
163  2014    1        516810     266548  250262