In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.float_format', lambda x: '%.2f' % x)

#### нужно получить распредение населения по возрастным группам
#### 0-17, 18-60, 61 и старше в разрезе мужчин и женщин. Необходимо прогнозное
#### количество женщин детородного возраста, чтобы по регулируемому показателю 
#### фертильности, получить прогноз всего населения Украины.
#### Далее, зная фертильность и количество детей, можно спрогнозировать расходы
#### которые должно взять на себя государство, чтобы увеличилась рождаемость.

#### try to recover AI's demographic  model

In [2]:
pop=pd.read_excel('data/pop_per_year.xlsx')#с 2012 по 2018 по годам жизни мужчины и женщины

In [3]:
pop2013=pop[pop['рік']==2013]#исходный факт
pop2013.head(2)

     рік  вік  Обидві статі   жінки   чоловіки
81  2013    0        517301  250481     266820
82  2013    1        498371  241404     256967

In [4]:
pop2017=pop[pop['рік']==2017]#исходный факт
pop2017.head(2)

      рік  вік  Обидві статі   жінки   чоловіки
405  2017    0        394626  190833     203793
406  2017    1        408645  197600     211045

In [5]:
#коэффициенты відтворення та міграції по мужчинам и женщинам
#выделены из файлы модели, нужно сделать отдельными сериями,чтобы не привязываться к файлам
koef_vidtvorennya_nas_f=pd.read_excel('D:/Users/o.lukasevych/Documents/Python_Scripts/Ukr_budget/excel/Copy of Демографическая модель изменения населения Украины.xlsx',\
                                     sheet_name='Sheet1')['відтворення населення жінки']
koef_vidtvorennya_nas_m=pd.read_excel('D:/Users/o.lukasevych/Documents/Python_Scripts/Ukr_budget/excel/Copy of Демографическая модель изменения населения Украины.xlsx',\
                                     sheet_name='Sheet1')['відтворення населення чоловіка']
koef_mizhnar_saldo_f=pd.read_excel('D:/Users/o.lukasevych/Documents/Python_Scripts/Ukr_budget/excel/Copy of Демографическая модель изменения населения Украины.xlsx',\
                                     sheet_name='Sheet1')['міжнародне сально жінки']
koef_mizhnar_saldo_m=pd.read_excel('D:/Users/o.lukasevych/Documents/Python_Scripts/Ukr_budget/excel/Copy of Демографическая модель изменения населения Украины.xlsx',\
                                     sheet_name='Sheet1')['міжнародне сальдо чоловіка']

In [6]:
koef_zhyvonar=99.3835113134263 #коэффициент живорожденных от рожденных
koef_mertvonar=0.616488686573717 #коэффициент мертворожденных от родженных
koef_pomer=1.45894635287282 #коэффициент умерших от всего населения

koef_usogo_nar_f=48.3748938322502 #коэффициент всего рожденных женщин
koef_zhivonar_f=48.3876667210801 #коэффициент живорожденных женщин
koef_mertvonar_f=46.3157894736842 #коэффициент мертворожденных женщин
koef_pomer_f=50.9026011137936 #коэффициент умерших женщин

  #коэффициенты по мужчинам
koef_usogo_nar_m=51.6251061677498
koef_zhivonar_m=51.6123332789199
koef_mertvonar_m=53.6842105263158
koef_pomer_m=49.0973988862064

    #коэффициенты миграции
koef_migrant_f=30.6820386779639
koef_migrant_m=69.3179613220361

# на входе функции серия женщин по годам жизни,серия мужчины по годам жизни, всего населения
# кол-во детей на 1000 женщин,коеффициент миграции
def model(f_years,m_years,popTotal,koef_fert,koef_migrant):
    fertilnyh=f_years[18:50].sum()
    narodzhennyh=fertilnyh*koef_fert/1000
    zhivonarodzhennyh=narodzhennyh*koef_zhyvonar/100
    mertvonarodzhennyh=narodzhennyh*koef_mertvonar/100
    pomer=popTotal*koef_pomer/100
    
    all_data=pd.Series({'fertilnyh':fertilnyh,'narodzhennyh':narodzhennyh,\
    'zhivonarodzhennyh':zhivonarodzhennyh,\
    'mertvonarodzhennyh':mertvonarodzhennyh,\
    'pomer':pomer})
    
    #количества по женщинам за текущий год
    usogo_nar_f=narodzhennyh*koef_usogo_nar_f/100 #всего рожденных женщин
    zhivonar_f=koef_zhivonar_f/100*zhivonarodzhennyh #количество живорожденных женщин
    mertvonar_f=koef_mertvonar_f/100*mertvonarodzhennyh #количество мертворожденных женщин
    pomer_f=koef_pomer_f/100*pomer #количество умерших женщин
    
    data_f=pd.Series({'usogo_nar_f':usogo_nar_f,'zhivonar_f':zhivonar_f,\
                      'mertvonar_f':mertvonar_f,'pomer_f':pomer_f})
    
    #количества по мужчинам за текущий год
    zhivonar_m=koef_zhivonar_m/100*zhivonarodzhennyh
    usogo_nar_m=narodzhennyh*koef_usogo_nar_m/100
    mertvonar_m=koef_mertvonar_m/100*mertvonarodzhennyh
    pomer_m=koef_pomer_m/100*pomer
    
    data_m=pd.Series({'usogo_nar_m':usogo_nar_m,'zhivonar_m':zhivonar_m,\
                     'mertvonar_m':mertvonar_m,'pomer_m':pomer_m})
    
    #серии відтворення населення
    vidtvorennya_nas_f=pd.Series(pomer_f*koef_vidtvorennya_nas_f/100*(-1))
    vidtvorennya_nas_m=pd.Series(pomer_m*koef_vidtvorennya_nas_m/100*(-1))
    
    # серии мигрантов
    migrant=popTotal*koef_migrant/100
    migrant_f=migrant*koef_migrant_f/100
    migrant_f_years=pd.Series(koef_mizhnar_saldo_f*migrant_f/100)
    migrant_m=migrant*koef_migrant_m/100
    migrant_m_years=pd.Series(koef_mizhnar_saldo_m*migrant_m/100)
    
    # серии женщин следующего года по годам жизни
    rest1=f_years[:-1]
    rest2=vidtvorennya_nas_f.drop(0).reset_index(drop=True)
    rest3=migrant_f_years.drop(0).reset_index(drop=True)
    rest1=rest1.astype('float64')
    rest4=rest1+rest2+rest3
    rest4=rest4[:-1]
    rest_first=zhivonar_f+vidtvorennya_nas_f[0]+migrant_f_years[0]
    rest_last=pd.Series(f_years.iloc[-1]+f_years.iloc[-2]+\
                vidtvorennya_nas_f.iloc[-1]+\
                migrant_f_years.iloc[-1])
    rest=rest4.append(rest_last).reset_index(drop=True)
    rest.index=rest.index+1
    rest_f=pd.concat([rest, pd.Series(rest_first)])
    female_next=rest_f.sort_index()
    
    rest_series=pd.Series({'rest':rest,'rest1':rest1,\
                           'rest2':rest2,'rest3':rest3,\
                           'rest4':rest4,\
                           'rest_first':rest_first,'rest_last':rest_last})
    
    # серии мужчин следующего года по годам жизни
    mrest1=m_years[:-1]
    mrest2=vidtvorennya_nas_m.drop(0).reset_index(drop=True)
    mrest3=migrant_m_years.drop(0).reset_index(drop=True)
    mrest1=mrest1.astype('float64')
    mrest4=mrest1+mrest2+mrest3
    mrest4=mrest4[:-1]
    mrest_first=zhivonar_m+vidtvorennya_nas_m[0]+migrant_m_years[0]
    mrest_last=pd.Series(m_years.iloc[-1]+m_years.iloc[-2]+\
                vidtvorennya_nas_m.iloc[-1]+\
                migrant_m_years.iloc[-1])
    mrest=mrest4.append(mrest_last).reset_index(drop=True)
    mrest.index=mrest.index+1
    rest_m=pd.concat([mrest, pd.Series(mrest_first)])
    male_next=rest_m.sort_index()
    pop_next=female_next+male_next
    pop_next_total=pop_next.sum()
    
     
    
    return female_next,male_next,pop_next_total,vidtvorennya_nas_f

In [7]:
def prognos(year,f_years,m_years,kfert):
    z=[]
    ye=[]
    pop_total=f_years.sum()+m_years.sum()
    for i in range(len(kfert)):
        fy=model(f_years,m_years,pop_total,kfert[i],0.136060581939936)[0]
        my=model(f_years,m_years,pop_total,kfert[i],0.136060581939936)[1]
        pt=model(f_years,m_years,pop_total,kfert[i],0.136060581939936)[2]
        z.append(model(f_years,m_years,pop_total,kfert[i],0.136060581939936)[2])
        f_years=fy
        m_years=my
        pop_total=pt
        ye.append(year+1+i)
        
    return pd.DataFrame(z,ye)

In [77]:
f=pop2017[' жінки'].reset_index(drop=True)
m=pop2017[' чоловіки'].reset_index(drop=True)

kfert_good=np.insert(np.repeat(95,40),[0],[46,60,65,70,75,80,85,90])
kfert_bad=np.repeat(46,37)

prognos(2017,f,m,np.repeat(38,100)).iloc[-1,:]

0   20434948.95
Name: 2117, dtype: float64

In [9]:
#исторические данные
#http://database.ukrcensus.gov.ua/MULT/Dialog/statfile_c_files/pasport.files/pasport/00_uk.htm#0301
#http://database.ukrcensus.gov.ua/PXWEB2007/ukr/publ_new1/2018/zb_dy_2017.pdf

pomerlyh=pd.Series([754460,706739,698235,664588,663139,662368,632296,594796,583631,574123],\
                   index=list(np.arange(2008,2018)),name='Померлих')
pomer_na_1000_nas=pd.Series([16.3,15.3,15.2,14.5,14.5,14.6,14.7,14.9,14.7,14.5],\
                            index=list(np.arange(2008,2018)),name='Померлих на 1000 населення')
zhivonar=pd.Series([510589,512525,497689,502595,520705,503657,465882,411781,397037,363987],\
                   index=list(np.arange(2008,2018)),name='Живонароджених')
zhivonar_na_1000_nas=pd.Series([11.0,11.1,10.8,11.0,11.4,11.1,10.8,10.7,10.3,9.4],\
                               index=list(np.arange(2008,2018)),name='Живонароджених на 1000 населення')
naselennya_vse=pd.Series([46372664,46143714,45962947,45778534,45633637,45553047,45426249,42929298,42760516,42584542,42386403],\
                         index=list(np.arange(2008,2019)),name='Населення')
miske_nas=pd.Series([31668757,31587203,31524795,31441649,31380874,31378639,31336623,29673113,29584952,29482313,29370995],\
                    index=list(np.arange(2008,2019)),name='Міське населення')
silske_nas=pd.Series([14703907,14556511,14438152,14336885,14252763,14174408,14089626,13256185,13175564,13102229,13015408],\
                     index=list(np.arange(2008,2019)),name='Сільське населення')
zhivonar_m=pd.Series([263588,264844,256835,259433,268748,259738,240043,212846,205194,187528],\
                    index=list(np.arange(2008,2018)),name='Живонароджених чоловіків')
zhivonar_f=pd.Series([247001,247681,240854,243162,251957,243919,225839,198935,191843,176459],\
                    index=list(np.arange(2008,2018)),name='Живонароджених жінок')
mertvonar_all=pd.Series([3416,3351,3300,3158,3230,3166,2820,2437,2244,2136],\
                       index=list(np.arange(2008,2018)),name='Мертвонароджених')
mertvonar_m=pd.Series([1801,1821,1719,1649,1734,1683,1502,1322,1159,1090],\
                     index=list(np.arange(2008,2018)),name='Мертвонароджених чоловіків')

mertvonar_f=pd.Series([1615,1530,1581,1509,1496,1483,1318,1115,1085,1046],\
                     index=list(np.arange(2008,2018)),name='Мертвонароджених жінок')

In [10]:
datadf=pd.concat([pomerlyh,pomer_na_1000_nas,zhivonar,mertvonar_all,zhivonar_f,zhivonar_m,\
                 naselennya_vse],axis=1).T
datadf

,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Померлих,754460.00,706739.00,698235.00,664588.00,663139.00,662368.00,632296.00,594796.00,583631.00,574123.00,nan
Померлих на 1000 населення,16.30,15.30,15.20,14.50,14.50,14.60,14.70,14.90,14.70,14.50,nan
Живонароджених,510589.00,512525.00,497689.00,502595.00,520705.00,503657.00,465882.00,411781.00,397037.00,363987.00,nan
Мертвонароджених,3416.00,3351.00,3300.00,3158.00,3230.00,3166.00,2820.00,2437.00,2244.00,2136.00,nan
Живонароджених жінок,247001.00,247681.00,240854.00,243162.00,251957.00,243919.00,225839.00,198935.00,191843.00,176459.00,nan
Живонароджених чоловіків,263588.00,264844.00,256835.00,259433.00,268748.00,259738.00,240043.00,212846.00,205194.00,187528.00,nan
Населення,46372664.00,46143714.00,45962947.00,45778534.00,45633637.00,45553047.00,45426249.00,42929298.00,42760516.00,42584542.00,42386403.00

In [47]:
range61=np.arange(61,81)
range61_full=pop.loc[pop['вік'].isin(range61)].groupby('рік').sum()
naselennya_vid_61=range61_full['Обидві статі']

In [49]:
chastka_61=naselennya_vid_61/naselennya_vse*100

2008     nan
2009     nan
2010     nan
2011     nan
2012   19.79
2013   20.01
2014   20.25
2015   20.41
2016   20.74
2017   21.05
2018   21.46
dtype: float64

In [57]:
range_m18_60=np.arange(18,61)
range_f50_60=np.arange(50,61)
range_m18_60_full=pop.loc[pop['вік'].isin(range_m18_60)].groupby('рік').sum()
range_f50_60_full=pop.loc[pop['вік'].isin(range_f50_60)].groupby('рік').sum()
female_male=range_m18_60_full[' чоловіки']+range_f50_60_full[' жінки']

In [59]:
chastka_fm=female_male/naselennya_vse*100
chastka_fm

2008     nan
2009     nan
2010     nan
2011     nan
2012   38.82
2013   38.77
2014   38.67
2015   38.57
2016   38.34
2017   38.14
2018   37.83
dtype: float64

In [64]:
range_ditei=np.arange(0,18)
ditei=pop.loc[pop['вік'].isin(range_ditei)].groupby('рік').sum()
ditei=ditei['Обидві статі']
ditei

рік
2012    7971638
2013    7990391
2014    8009866
2015    7614704
2016    7614006
2017    7615606
2018    7609297
Name: Обидві статі, dtype: int64

In [65]:
chastka_ditei=ditei/naselennya_vse*100
chastka_ditei

2008     nan
2009     nan
2010     nan
2011     nan
2012   17.47
2013   17.54
2014   17.63
2015   17.74
2016   17.81
2017   17.88
2018   17.95
dtype: float64

In [69]:
range_fert=np.arange(18,50)
fert=pop.loc[pop['вік'].isin(range_fert)].groupby('рік').sum()
fert=fert[' жінки']
fert

рік
2012    10736402
2013    10606010
2014    10471684
2015     9826098
2016     9714985
2017     9595421
2018     9474888
Name:  жінки, dtype: int64

In [71]:
chastka_fert=fert/naselennya_vse*100
chastka_fert

2008     nan
2009     nan
2010     nan
2011     nan
2012   23.53
2013   23.28
2014   23.05
2015   22.89
2016   22.72
2017   22.53
2018   22.35
dtype: float64

In [72]:
ditei_na_zhinku=ditei/fert

рік
2012   0.74
2013   0.75
2014   0.76
2015   0.77
2016   0.78
2017   0.79
2018   0.80
dtype: float64

In [76]:
narodylos_na_1000_zhinok=zhivonar/fert*1000

In [80]:
world_pop=pd.read_csv("D:/Users/o.lukasevych/Documents/Python_Scripts/Ukr_budget/Shiny_app/population/data/WPP2017_TotalPopulationBySex.csv")

In [106]:
subset1=world_pop.loc[(world_pop.Location=='World')&(world_pop.Variant=='Medium')]
subset2=subset1[['Time','PopTotal']]
world_pop_prognos=subset2.set_index('Time').iloc[:,0]

In [129]:
world_pop_slice=world_pop_prognos.loc[2011:2018]

In [130]:
world_pop_change=world_pop_slice.pct_change()*100

In [120]:
gdp=pd.read_excel('D:/Users/o.lukasevych/Documents/Python_Scripts/Ukr_budget/excel/gdp.xlsx')

In [126]:
gdp_world=gdp.iloc[1]['2012':'2017']
gdp_ukr=gdp.iloc[0]['2012':'2017']

In [178]:
gdp_world

2012   75061410005883.55
2013   77218621016248.28
2014   79319858280899.09
2015   75037186502549.75
2016   76146112644152.70
2017   80934771028340.25
Name: 257, dtype: object

In [157]:
index1=pd.date_range(start='2012',end='2018',freq='Y').year
index1

Int64Index([2012, 2013, 2014, 2015, 2016, 2017], dtype='int64')

In [177]:
gdp_world_change=gdp_world.pct_change()*100
gdp_world_change

2012     nan
2013    2.87
2014    2.72
2015   -5.40
2016    1.48
2017    6.29
Name: 257, dtype: float64

In [180]:
gdpukr_na_osobu=gdp_ukr/naselennya_vse

In [184]:
gdp_world.index

Index(['2012', '2013', '2014', '2015', '2016', '2017'], dtype='object')

In [188]:
gdp_world.reindex_like(world_pop_slice)

2011    NaN
2012    NaN
2013    NaN
2014    NaN
2015    NaN
2016    NaN
2017    NaN
2018    NaN
Name: 257, dtype: object