In [1]:
import pandas as pd
import numpy as np

#### нужно получить распредение населения по возрастным группам
#### 0-17, 18-60, 61 и старше в разрезе мужчин и женщин. Необходимо прогнозное
#### количество женщин детородного возраста, чтобы по регулируемому показателю 
#### фертильности, получить прогноз всего населения Украины.
#### Далее, зная фертильность и количество детей, можно спрогнозировать расходы
#### которые должно взять на себя государство, чтобы увеличилась рождаемость.

In [2]:
df=pd.read_csv('data/pop_est/Population-EstimatesData.csv')
# world bank data собраны самые разные показатели

In [3]:
df=df[df['Country Name']=='Ukraine']

In [4]:
df1=pd.read_csv('https://population.un.org/wpp/Download/Files/1_Indicators%20(Standard)/CSV_FILES/WPP2019_PopulationBySingleAgeSex.csv',\
               encoding = "ISO-8859-1")

In [5]:
df2=df1[df1.Location=='Ukraine'].loc[:,('Time','AgeGrp','PopMale','PopFemale','PopTotal')]

In [6]:
df2=df2.set_index(['Time','AgeGrp'])

In [7]:
df2=df2.loc[2012:2050]

In [8]:
df2=df2.reset_index()

In [9]:
df2=df2.pivot(index ='AgeGrp', columns ='Time', values =['PopMale','PopFemale','PopTotal'])
df2.head()

        PopMale                                                        \
Time       2012     2013     2014     2015     2016     2017     2018
AgeGrp
0       270.947  258.982  245.482  232.817  221.681  211.341  202.373
1       263.634  261.062  256.230  249.873  235.963  233.032  223.192
2       272.864  260.114  261.961  260.715  250.698  238.978  239.107
3       258.370  269.943  263.378  266.130  260.084  251.381  241.911
4       244.789  258.227  266.965  266.907  264.767  259.305  251.979

                                    ...    PopTotal                    \
Time       2019     2020     2021   ...        2041     2042     2043
AgeGrp                              ...
0       195.261  190.252  187.936   ...     338.436  337.627  336.453
1       213.927  206.072  192.432   ...     338.950  338.637  337.988
2       229.027  219.664  206.625   ...     338.819  338.954  338.834
3       240.814  231.100  219.200   ...     338.346  338.783  338.956
4       244.840  240.452  230.129   ...     337.643  338.286  338.745


Time       2044     2045     2046     2047     2048     2049     2050
AgeGrp
0       334.845  332.756  330.152  327.108  323.674  319.914  315.891
1       336.907  335.352  332.898  330.756  327.799  324.453  320.763
2       338.228  337.172  335.333  333.057  331.130  328.229  324.922
3       338.915  338.314  337.053  335.332  333.234  331.303  328.417
4       338.961  338.879  338.145  336.951  335.347  333.422  331.297

[5 rows x 117 columns]

In [10]:
#In [2]: bins = pd.cut(df['Value'], [0, 100, 250, 1500])

#In [3]: df.groupby(bins)['Value'].agg(['count', 'sum'])

bins = pd.cut(np.arange(101), [0, 18, 60,100],right=False)
bins

[[0, 18), [0, 18), [0, 18), [0, 18), [0, 18), ..., [60, 100), [60, 100), [60, 100), [60, 100), NaN]
Length: 101
Categories (3, interval[int64]): [[0, 18) < [18, 60) < [60, 100)]

In [11]:
PopTotal=df2.reset_index()['PopTotal'].groupby(bins).agg('sum')
PopTotal

Time,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
"[0, 18)",8012.695,8014.474,8039.604,8088.774,8099.479,8123.736,8152.382,8177.807,8199.597,8182.842,...,6116.829,6094.826,6078.382,6066.215,6056.908,6047.015,6037.455,6026.544,6013.142,5996.074
"[18, 60)",27714.482,27453.961,27171.421,26871.393,26545.754,26210.724,25872.575,25533.985,25194.023,24836.872,...,20441.078,20087.809,19730.152,19369.081,19006.066,18620.956,18241.258,17878.492,17547.815,17257.967
"[60, 100)",9724.552,9816.382,9898.289,9959.250,10066.301,10151.181,10219.239,10279.949,10338.223,10445.071,...,11156.857,11252.499,11347.941,11443.117,11537.648,11654.997,11766.694,11862.751,11929.036,11957.878

In [12]:
binsF = pd.cut(np.arange(101), [0, 18, 50,60,100],right=False)
PopFemale=df2.reset_index()['PopFemale'].groupby(binsF).agg('sum')
PopFemale

Time,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
"[0, 18)",3896.560,3894.857,3904.410,3926.206,3929.428,3940.170,3953.915,3966.494,3977.491,3970.460,...,2970.327,2959.738,2951.664,2945.507,2940.562,2935.910,2931.314,2925.972,2919.308,2910.682
"[18, 50)",10662.049,10522.207,10380.995,10242.756,10115.861,9994.512,9876.352,9754.991,9624.826,9491.016,...,6904.072,6796.216,6703.678,6622.794,6550.826,6487.352,6434.050,6389.765,6352.727,6320.891
"[50, 60)",3658.046,3633.722,3597.186,3550.490,3493.772,3428.237,3358.354,3290.137,3227.700,3166.777,...,3326.126,3253.623,3162.772,3056.924,2939.116,2806.697,2665.016,2521.266,2385.340,2264.019
"[60, 100)",6247.944,6310.568,6369.740,6418.285,6477.521,6525.149,6564.443,6601.351,6638.928,6692.978,...,6949.199,6981.746,7014.910,7049.437,7085.615,7127.386,7167.992,7202.250,7222.738,7225.411

#### try to recover demographic model by AI

In [ ]:
pop=pd.read_excel('data/pop_per_year.xlsx')

In [32]:
pop2013=pop[pop['рік']==2013]#исходный факт
pop2013.head(2)

     рік  вік  Обидві статі   чоловіки   жінки
81  2013    0        517301     266820  250481
82  2013    1        498371     256967  241404

In [68]:
pop_total2013=pop2013['Обидві статі'].sum()
pop_total2013

45372692

In [41]:
fert_years=np.arange(18,50)#детородный возраст

In [70]:
koef2013=46 #детей на 1000 женщин детородного возраста- первый входной параметр
fert2013=pop2013.loc[pop2013['вік'].isin(fert_years)][' жінки'].sum()

In [71]:
fert2013#женщин детородного возраста

10606010

In [72]:
narodzh2013=fert*koef2013/1000 #всего рожденных
narodzh2013

487876.46

In [73]:
koef_zhyvinar=99.3835113134263 #коэффициент живорожденных от рожденных
zhivonar2013=narodzh2013*koef_zhyvinar/100 #количество живорожденных
zhivonar2013

484868.7568196438

In [74]:
koef_mertvonar=0.616488686573717 #коэффициент мертворожденных от родженных
mertvonar2013=narodzh2013*koef_mertvonar/100#количество мертворожденных
mertvonar2013

3007.703180356346

In [75]:
koef_pomer=1.45894635287282 #коэффициент умерших от всего населения
pomer2013=pop_total2013*koef_pomer/100 #количество умерших
pomer2013

661963.2351342178

In [77]:
koef_usogo_nar_f=48.3748938322502 #коэффициент всего рожденных женщин
usogo_nar_f2013=narodzh2013*koef_usogo_nar_f/100 #всего рожденных женщин
usogo_nar_f2013

236009.71955754064

In [78]:
koef_zhivonar_f=48.3876667210801 #коэффициент живорожденных женщин
zhivonar2013_f=koef_zhivonar_f/100*zhivonar2013 #количество живорожденных женщин
zhivonar2013_f

234616.67808453357

In [82]:
koef_mertvonar_f=46.3157894736842 #коэффициент мертворожденных женщин
mertvonar2013_f=koef_mertvonar_f/100*mertvonar2013 #количество мертворожденных женщин
mertvonar2013_f

1393.0414730071493

In [84]:
koef_pomer_f=50.9026011137936 #коэффициент умерших женщин
pomer2013_f=koef_pomer_f/100*pomer2013 #количество умерших женщин
pomer2013_f

336956.50510033447

In [87]:
#коэффициенты по мужчинам
koef_usogo_nar_m=51.6251061677498
koef_zhivonar_m=51.6123332789199
koef_mertvonar_m=53.6842105263158
koef_pomer_m=49.0973988862064
#количества по мужчинам
zhivonar2013_m=koef_zhivonar_m/100*zhivonar2013
usogo_nar_m2013=narodzh2013*koef_usogo_nar_m/100
mertvonar2013_m=koef_mertvonar_m/100*mertvonar2013
pomer2013_m=koef_pomer_m/100*pomer2013
usogo_nar_m2013,zhivonar2013_m,mertvonar2013_m,pomer2013_m

(251866.74044245938, 250252.0787351102, 1614.6617073491966, 325006.7300338833)

In [97]:
#коэффициенты відтворення та міграції по мужчинам и женщинам
#выделены из файлы модели, нужно сделать отдельными сериями,чтобы не привязываться к файлам
koef_vidtvorennya_nas_f=pd.read_excel('D:/Users/o.lukasevych/Documents/Python_Scripts/Ukr_budget/excel/Copy of Демографическая модель изменения населения Украины.xlsx',\
                                     sheet_name='Sheet1')['відтворення населення жінки']
koef_vidtvorennya_nas_m=pd.read_excel('D:/Users/o.lukasevych/Documents/Python_Scripts/Ukr_budget/excel/Copy of Демографическая модель изменения населения Украины.xlsx',\
                                     sheet_name='Sheet1')['відтворення населення чоловіка']
koef_mizhnar_saldo_f=pd.read_excel('D:/Users/o.lukasevych/Documents/Python_Scripts/Ukr_budget/excel/Copy of Демографическая модель изменения населения Украины.xlsx',\
                                     sheet_name='Sheet1')['міжнародне сально жінки']
koef_mizhnar_saldo_m=pd.read_excel('D:/Users/o.lukasevych/Documents/Python_Scripts/Ukr_budget/excel/Copy of Демографическая модель изменения населения Украины.xlsx',\
                                     sheet_name='Sheet1')['міжнародне сальдо чоловіка']

In [113]:
#
vidtvorennya_nas_f2013=pd.Series(pomer2013_f*koef_vidtvorennya_nas_f/100*(-1))
vidtvorennya_nas_m2013=pd.Series(pomer2013_m*koef_vidtvorennya_nas_m/100*(-1))

In [111]:
koef_migrant=0.136060581939936
migrant2013=pop_total2013*koef_migrant/100
koef_migrant_f=30.6820386779639
migrant2013_f=migrant2013*koef_migrant_f/100
migrant2013_f_years=pd.Series(koef_mizhnar_saldo_f*migrant2013_f/100)

In [115]:
koef_migrant_m=69.3179613220361
migrant2013_m=migrant2013*koef_migrant_m/100
migrant2013_m_years=pd.Series(koef_mizhnar_saldo_m*migrant2013_m/100)

In [263]:
rest1=pop2013[' жінки'].drop(pop2013.index[-1]).reset_index(drop=True)
rest2=vidtvorennya_nas_f2013.drop(0).reset_index(drop=True)
rest3=migrant2013_f_years.drop(0).reset_index(drop=True)
rest1=rest1.astype('float64')
rest4=rest1+rest2+rest3
rest4=rest4[:-1]
rest_first=zhivonar2013_f+vidtvorennya_nas_f2013[0]+migrant2013_f_years[0]
rest_last=pd.Series(pop2013[' жінки'].iloc[[-1]].reset_index(drop=True)+\
pop2013[' жінки'].iloc[[-2]].reset_index(drop=True)+\
vidtvorennya_nas_f2013.iloc[-1]+\
migrant2013_f_years.iloc[-1])
rest=rest4.append(rest_last).reset_index(drop=True)
rest.index=rest.index+1
rest_f2013=pd.concat([rest, pd.Series(rest_first)])
female2014=rest_f2013.sort_index()

In [256]:
rest1=pop2013[' чоловіки'].drop(pop2013.index[-1]).reset_index(drop=True)
rest2=vidtvorennya_nas_m2013.drop(0).reset_index(drop=True)
rest3=migrant2013_m_years.drop(0).reset_index(drop=True)
rest1=rest1.astype('float64')
rest4=rest1+rest2+rest3
rest4=rest4[:-1]
rest_first=zhivonar2013_m+vidtvorennya_nas_m2013[0]+migrant2013_m_years[0]
rest_last=pd.Series(pop2013[' чоловіки'].iloc[[-1]].reset_index(drop=True)+\
pop2013[' чоловіки'].iloc[[-2]].reset_index(drop=True)+\
vidtvorennya_nas_m2013.iloc[-1]+\
migrant2013_m_years.iloc[-1])
rest=rest4.append(rest_last).reset_index(drop=True)
rest.index=rest.index+1
rest_m2013=pd.concat([rest, pd.Series(rest_first)])
male2014=rest_m2013.sort_index()

In [259]:
male2014

0     247865.318048
1     266800.784131
2     256947.784131
3     254217.784131
4     262014.784131
5     260461.420567
6     239889.420567
7     233140.420567
8     216591.420567
9     216903.420567
10    206920.424113
11    198382.424113
12    190327.424113
13    195837.424113
14    197733.424113
15    210601.147903
16    220263.147903
17    237920.147903
18    248183.147903
19    259812.147903
20    276299.233031
21    297300.233031
22    318389.233031
23    334278.233031
24    349231.233031
25    368468.899297
26    380169.899297
27    401711.899297
28    388715.899297
29    397080.899297
          ...
51    310355.347781
52    320013.347781
53    328824.347781
54    309218.347781
55    302373.408041
56    285797.408041
57    280439.408041
58    257597.408041
59    260949.408041
60    232648.538863
61    239882.538863
62    235938.538863
63    228688.538863
64    230394.538863
65    188832.210528
66    162519.210528
67    150933.210528
68     93208.210528
69    104728.210528
70     86296.456887
71    110608.456887
72    145590.456887
73    144103.456887
74    146067.456887
75    148075.711183
76    147439.711183
77    112633.711183
78     86537.711183
79     58324.711183
80    409080.782427
Length: 81, dtype: float64

In [264]:
pop2014=female2014+male2014
pop2014

0     4.807004e+05
1     5.172805e+05
2     4.983505e+05
3     4.932235e+05
4     5.075795e+05
5     5.052578e+05
6     4.669428e+05
7     4.550518e+05
8     4.208148e+05
9     4.220938e+05
10    4.031754e+05
11    3.848134e+05
12    3.698384e+05
13    3.809074e+05
14    3.854414e+05
15    4.115596e+05
16    4.291386e+05
17    4.636596e+05
18    4.830356e+05
19    5.044086e+05
20    5.365598e+05
21    5.775348e+05
22    6.185128e+05
23    6.500828e+05
24    6.805038e+05
25    7.203843e+05
26    7.438263e+05
27    7.881063e+05
28    7.646133e+05
29    7.811543e+05
          ...
51    6.769950e+05
52    6.997930e+05
53    7.231780e+05
54    6.887280e+05
55    6.788668e+05
56    6.486228e+05
57    6.431828e+05
58    5.978328e+05
59    6.118748e+05
60    5.528162e+05
61    5.748932e+05
62    5.679072e+05
63    5.574062e+05
64    5.723512e+05
65    4.722092e+05
66    4.150052e+05
67    3.955122e+05
68    2.537882e+05
69    2.905382e+05
70    2.461400e+05
71    3.191580e+05
72    4.197280e+05
73    4.217460e+05
74    4.440680e+05
75    4.523682e+05
76    4.498052e+05
77    3.460052e+05
78    2.699112e+05
79    1.872532e+05
80    1.551013e+06
Length: 81, dtype: float64

In [265]:
pop2014.sum()

45257331.87046244